{% extends "layout.html" %}
{% block body %}  
<nav>
	<i class='bx bx-menu' ></i>
	
	
	<form action="search5" method="post" >
		<div class="form-input">
			<input type="text" placeholder="Search..." name="search">
			<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
		</div>
	</form>
	<input type="checkbox" id="switch-mode" hidden>
	<label for="switch-mode" class="switch-mode"></label>
	<a href="#" class="notification">
		<i class='bx bxs-bell' ></i>
		<span class="num">8</span>
	</a>
	<a href="#" class="profile">
		<img src="{{ url_for('static', filename = 'img/people.png') }}">
	</a>
</nav>     
        <main>
			<div class="head-title">
				<div class="left">
					<h1>Project</h1>
					<ul class="breadcrumb">
						<li>
							<a class="active" href="{{url_for('project')}}">Project</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a href="#">Add Project</a>
						</li>
					</ul>
				</div>
				<!-- <a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
				</a> -->
			</div>
                <div id="form">
                    <div id="formtitle">
                        <div class="title">
                            <i class="fa fa-user-plus"></i>
                            <span> Add New Project</span>
                        </div>
                    </div>
                    <form class="row" action="{{url_for('project_add')}}" method="post">
                        <div class="col">
                            <div class="col-3 ">
                                <label for="inputname" class="form-label">Project's Title</label><br>
                                <input type="text" class="form-control " placeholder="Project Name"
                                    aria-label="name" name="project_name" required>
                            </div>
                            <div class="col-3">
                                <label for="inputEmail" class="form-label">Start Date</label><br>
                                <input type="date" class="form-control"
                                    aria-label="Email" name="start_date">
                            </div>
                            <div class="col-3 ">
                                <label for="inputWebsite" class="form-label">End Date</label><br>
                                <input type="date" class="form-control "name='end_date'>
                            </div>
                            <div class="col-3">
                                <label for="inputDept" class="form-label">Project's Status</label><br>
                                <select id="inputDept" class="form-select" name="status">
                                    <option selected>status</option>
                                    <option>Complete</option>
                                    <option>Pending</option>
                                    <option>Process</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-3 ">
                                <label for="inputWebsite" class="form-label">Project's Details</label><br>
                                <textarea placeholder="Write Your Project's Details here.."name='details'></textarea>
                            </div>
                            <!-- <div class="col-3 ">
                                <label for="inputWebsite" class="form-label">Project's Summery</label><br>
                                <textarea placeholder="Write Your Project's Summery here.."></textarea>
                            </div> -->
                        </div>
                        <div class="col">
                            <button type="submit" class="success"><i class="fa fa-check"></i> Submit</button>
                            <button type="reset" class="danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
{% endblock %}