{% extends "layout.html" %}
{% block body %}
<nav>
	<i class='bx bx-menu' ></i>
	
	
	<form >
	</form>
	<input type="checkbox" id="switch-mode" hidden>
	<label for="switch-mode" class="switch-mode"></label>
	<a href="#" class="notification">
		<i class='bx bxs-bell' ></i>
		<span class="num">8</span>
	</a>
	<a href="#" class="profile">
		<img src="{{ url_for('static', filename = 'img/people.png') }}">
	</a>
</nav>
        <main>
            <div class="head-title">
				<div class="left">
					<h1>Payroll</h1>
					<ul class="breadcrumb">
						<li>
							<a class="active" href="{{url_for('payroll')}}">Payroll List</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
						<li>
							<a href="#">Payroll details</a>
						</li>
					</ul>
				</div>
				<!-- <a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
				</a> -->
			</div>
            <div class="container">
                <!-- <div id="header">
                    <i class="fa fa-user-circle-o"></i>
                    <span> Mr. Name</span>
                </div> -->
                <div class="personalinfo">
                    <div class="ttl">
                        <p>Payroll Info</p>
                    </div>
                    <div class="personal">
                        
                        <div class="info">
                            <form class="form" action="/update6/{{Payroll.id}}" method="POST">
                                <div class="col-3 ">
                                    <label for="inputname" class="form-label">Employee's Name</label><br>
                                    <input type="text" class="form-control " value="{{Payroll.name}}"
                                        aria-label="name"name='name'>
                                </div>
                                <div class="col-3 ">
                                    <label for="inputEcode" class="form-label">Employee Code</label><br>
                                    <input type="text" class="form-control "value="{{Payroll.emp_code}}" aria-label="Employee Code"name='emp_code'>
                                </div>
                                
                                <div class="col-3 ">
                                    <label for="inputname" class="form-label">Salary</label><br>
                                    <input type="text" class="form-control " value="{{Payroll.salary}}"
                                        aria-label="name"name='salary'>
                                </div>
                                <div class="col-3 ">
                                    <label for="inputname" class="form-label">Loan</label><br>
                                    <input type="text" class="form-control " value="{{Payroll.loan}}"
                                        aria-label="name"name='loan'>
                                </div>
                                <div class="col-3 ">
                                    <label for="inputname" class="form-label">Hour</label><br>
                                    <input type="text" class="form-control " value="{{Payroll.hour}}"
                                        aria-label="name"name='hour'>
                                </div>
                                <div class="col-3 ">
                                    <label for="inputname" class="form-label">Deduction</label><br>
                                    <input type="text" class="form-control " value="{{Payroll.deduction}}"
                                        aria-label="name"name='deduction'>
                                </div>
                                <div class="col-3">
                                    <label for="inputEmail" class="form-label">Pay Date</label><br>
                                    <input type="date" class="form-control" value="{{Payroll.pay_date}}"
                                        aria-label="Email"name='pay_date'>
                                </div>
                                
                                
                                
                                <div class="col">
                                    <button type="submit" class="success"><i class="fa fa-check"></i> Update</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                
        </main>
{% endblock %}