{% extends "layout.html" %}
{% block body %}
<nav>
	<i class='bx bx-menu' ></i>
	
	
	<form>
	</form>
	<input type="checkbox" id="switch-mode" hidden>
	<label for="switch-mode" class="switch-mode"></label>
	<a href="#" class="notification">
		<i class='bx bxs-bell' ></i>
		<span class="num">8</span>
	</a>
	<a href="#" class="profile">
		<img src="{{ url_for('static', filename = 'img/people.png') }}">
	</a>
</nav>
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Organization</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#"></a>
						</li>
						<li><i></i></li>
						<li>
							<!-- <a href="Organization.html">Organization</a> -->
						</li>
					</ul>
				</div>
				<!-- <a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
				</a> -->
			</div>
			<ul class="box-info_org">
				<a href="{{url_for('department')}}">
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>DepartMent</h3>
						
					</span>
				</li>
			    </a>
				<a href="{{url_for('location')}}">
				<li>
					<i class='bx bxs-map' ></i>
					<span class="text">
						<h3>Locations</h3>
					
					</span>
				</li>
				</a>
				<a href="{{url_for('designation')}}">
				<li>
					<i class='bx bxs-bulb' ></i>
					<span class="text">
						<h3>Designation</h3>
						
					</span>
				</li>
			    </a>
			</ul>

		</main>
{% endblock %}	
	